.container{
    width: 100%;
    height: auto;
    margin-top: 2em;
}
.introducaohtml{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 10px auto;
    justify-content: stretch;
    gap: 2rem;
    word-break: keep-all;
    word-spacing: 2px;
    font-size: 1.2rem;
}
.video{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 120px;
}
.video iframe{
    width: 80%;
    height: 420px;
    border: none;
}
.video-info{
    width: 80%;
    padding: 2em;
    text-align: center;
    font-size: 0.95em;
}
pre {
  background: #111;
  color: #f5f5f5;
  padding: 1rem;
  border-radius: 8px;
  overflow-x: auto;
  text-align: left;
  width: 80%;
}

code {
  font-family: Consolas,Arial, monospace;
  font-size: 0.95rem;
}
