*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--fontePrincipal, sans-serif);
}
:root{
    --cor1 : #323232;
    --cor2 : #1a1b54;
    --cor3 : #4d5361;
    --fontePrincipal : "Montserrat", sans-serif;
    --fonteSecundaria : "Playfair Display", serif;
}
body{
    background-color: #f5f5f5;
    width: 100%;
    color: #0F172A;
    
}
/*css header geral*/
header{
    background-color: var(--cor1);
    width: 90%;
    margin: 0 auto;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 3px 3px var(--cor2);
}
header #logo{
    width: 130px;
    height: 100px;
}
header nav.navegacao-header{
    display: flex;
    justify-content: space-around;
    width: 100%;
}
header nav a{
    text-decoration: none;
    font-size: 0.9em;
    color: #f5f5f5;
}
@media (max-width: 450px) {
  header{
    display: block;
    font-size: 0.8em;
  }
}

/* css pagina index*/
section.banner{
    background-image: url("../img/pagina-inicial/banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    top: -90px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
}
section.banner h1{
    color: #f5f5f5;
    font-size: 2.0rem;
    font-family: var(--fonteSecundaria);
    text-shadow: 2px 2px 2px var(--cor3);
    background-color: #1a1b546e;
    padding: 0.2em;
    border-radius: 2em;
    animation: piscar 1s ease-in-out infinite;
}
@media (max-width : 450px){
  section.banner h1{
    font-size: 1.5rem;
  }
}
@keyframes piscar{
    0%{
        box-shadow: 0 0 0 var(--cor2);
        transform: scale(1);
    }
    50%{
        box-shadow: 0 0 25px var(--cor2);
        transform: scale(1.05);
    }
    100%{
        box-shadow: 0 0 0 var(--cor2);
        transform: scale(1);
    }
}

.container-cards{
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
}


.card{
    width: 250px;
    max-width: 40vh;
    height: auto;
    border-radius: 2em;
    position: relative;
    animation: flutuar 2.5s ease-in-out infinite;
    margin: 50px 0;
    
}
@media (max-width : 500px){
  .card{
    width: 200px;
    max-width: 30vh;
    height: auto;
    cursor: pointer;
  }
}
@keyframes flutuar{
    0% { transform: translateY(0); }
    50% { transform: translateY(8px); }
    100% { transform: translateY(0); }
}

section.container-cards h2{
    text-align: center;
    margin: 50px 0;
    max-width: 40vh;
}
section.container-cards p{
    text-align: start;
    margin: 50px 0;
    max-width: 45vh;
}

/*footer geral*/

footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  background: #111;
  color: #f5f5f5;
  position: relative;
}

.nav-footer{
  display: flex;
  padding-top: 8px;
  gap: 20px; /* espaço entre os ícones */
}

.nav-footer a{
  color: #f5f5f5;
  font-size: 1.4rem;
  text-decoration: none;
  transition: color .3s;
}

.nav-footer a:hover{
  color: #0d6efd; /* azul bootstrap */
}


/*css dos elementos js*/

#voltar-topo{
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px 14px;
  font-size: 1.2rem;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  background: var(--cor2);
  color: #fff;
  display: none;
  z-index: 1000;
}

#voltar-topo.mostrar{
  display: block;
}
body.dark{
  background-color: #111;
  color: #f5f5f5;
}

body.dark header{
  background-color: #111;
  color: #f5f5f5;
}
body.dark header a{
 
  color: #f5f5f5;
}

body.dark footer{
  background-color: #111;
  color: #f5f5f5;
}

