section.apresentacao{
    display: block;
    width: 80%;
    margin: auto;
    text-align: left;
    padding-top: 2em;
}
.apresentacao h1{
    padding: 0.5em;
    font-family: var(--fonteSecundaria);
    background-color: var(--cor2);
    color: #f5f5f5;
    border-radius: 2em;
    overflow: auto;
    text-align: center;
}
.apresentacao p{
    font-size: 1.1em;
    padding: 1.5rem;
}
section.projetos{
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: auto;
    gap: 5vh;
}
.card-projeto{
    background-color: var(--cor2);
    color: #f5f5f5;
    padding: 1.2em;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1 1 280px;
    margin-bottom: 25px;
    border-radius: 8%;
}
.card-projeto p{
    font-size: 1em;
    padding: 1em;
}
img{
    width: 70%;
    height: auto;
    border-radius: 10px;
}
.card-projeto a{
    background-color: black;
    padding: 5px;
    border-radius: 10px;
    text-decoration: none;
    cursor: pointer;
}